
<footer>
    <div class="footer-container">
        <!-- First column -->
        <div class="footer-column">
            <img src="https://static.insales-cdn.com/r/RMWaNXYgts8/rs:fill-down:100:100:1/q:100/plain/files/1/2899/38603603/original/4__1__fbd459516ad35b584f3ef3dc5c22024a.png@png" alt="Logo">
            <p>+994 (123) 456-78-90</p>
            <p>+994 (987) 654-32-10</p>
            <p>+994 (111) 222-33-44</p>
            <p>Email: example@mail.ru</p>
            <p>Пн-Пт: 09:00–18:00</p>
        </div>

        <!-- Second column -->
        <div class="footer-column">
            <h3>Info</h3>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
        </div>

        <!-- Thrird  column -->
        <div class="footer-column">
            <h3>Info</h3>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>
            <a href="#">Description</a>

            <div class="social-icons">
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"></a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733558.png" alt="Instagram"></a>
                <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" alt="Telegram"></a>
            </div>
        </div>
    </div>
</footer>

