@model FinalProject.Areas.Admin.ViewModels.Blog.BlogDetailVM
<div class="container">
    <div class="date">@Model.Date</div>
    <h1>@Model.Tile</h1>
    <p class="description">
       @Model.Description
    </p>

    <div class="images">
        <img src="~/assets/images/@Model.Image" alt="Bloq Şəkil 1">
        
    </div>

    
</div>
